@import "../../index.scss";

.task {
    @include flex(column, center, center, center);
    width: 100%;

    .task-header {
        @include flex(row, center, center, space-between);
        width: 100%;

        .search {
            position: relative;
            padding: .5rem 0;
            box-sizing: border-box;

            svg {
                position: absolute;
                top: 50%;
                left: 1rem;
                transform: translateY(-50%);
                width: 1.5rem;
                height: 1.5rem;
            }

            input {
                min-width: 320px;
                height: 40px;
                padding-left: 50px;
                font-size: 15px;
                border: 1px solid #C4C4C4;
                border-radius: 5px;

                &::placeholder {
                    color: #C4C4C4;
                }
            }
        }

        .add-task {
            margin-top: 10px;

            button {
                width: 105px;
                height: 40px;
                font-size: 15px;
                box-sizing: border-box;
                border-radius: 5px;
                border: none;
                font-weight: 700;
                cursor: pointer;
                transition: all .3s;
                background-color: #0013FE;
                color: #fff;

                &:hover {
                    transition: all .3s;
                    background-color: #000bbb;
                }
            }
        }

        .add-task-popup {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: #0000001F;
            @include flex(row, center, center, center);

            .popup-block {
                width: 450px;
                height: 650px;
                background-color: white;
                padding: 1.5rem;
                border-radius: 10px;

                form {
                    &.error {

                        input,
                        textarea,
                        select {
                            margin-bottom: 0;
                        }
                    }
                }

                h2 {
                    margin-top: 0;
                    font-size: 25px;
                }

                .task-name,
                .description,
                .date-block,
                .assign_member {
                    height: 73px;
                    width: 100%;
                    border: none;
                    background-color: #F5F7FB;
                    font-size: 1.2rem;
                    padding: 1rem;
                    box-sizing: border-box;
                    border-radius: 5px;
                    margin: 1rem 0;
                    font-weight: 700;

                    &::placeholder {
                        color: #000;
                    }
                }

                .description {
                    height: 150px;
                }

                .assign_member {
                    appearance: none;
                }

                .date-block {
                    @include flex(row, center, center, space-between);

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }

                .select {
                    position: relative;

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                        position: absolute;
                        right: 1rem;
                        top: 50%;
                        transform: translateY(-50%)
                    }
                }

                .form-btn {
                    @include flex(row, center, center, space-between);

                    button {
                        width: 143px;
                        height: 55px;
                        font-size: 18px;
                        padding: 1rem 2rem;
                        box-sizing: border-box;
                        border-radius: 5px;
                        border: none;
                        margin-top: 1rem;
                        font-weight: 700;
                        cursor: pointer;
                        transition: all .3s;

                        &.cancel {
                            background-color: #F5F7FB;
                            color: #15192080;

                            &:hover {
                                transition: all .3s;
                                background-color: #e9e9e9;
                            }
                        }

                        &.save {
                            background-color: #0013FE;
                            color: #fff;

                            &:hover {
                                transition: all .3s;
                                background-color: #000bbb;
                            }
                        }
                    }
                }

                span.error {
                    color: red;
                }
            }
        }

    }

    .task-area {
        @include flex(row, flex-start, flex-start, space-between);
        height: 100%;
        width: 100%;
        margin-top: 1rem;

        .task-drop {
            @include flex(column, flex-start, flex-start, flex-start);
            height: 100%;
            row-gap: 5px;
            width: calc(100%/4 - 1rem);
            min-height: 1500px;
            padding: 1rem;
            box-sizing: border-box;
            background-color: #E6ECF0;
            border-radius: 5px;

            h2 {
                width: 100%;
                text-align: center;
                margin-top: 0;
                font-size: 1rem;

                span {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 13px;
                    border-radius: 50%;
                    background-color: #D5D5D5;
                    margin-left: 1rem;
                }
            }

            .drop-area {
                width: 100%;
                padding: 0;
                border-radius: .3rem;
                box-sizing: border-box;

                .drag-item {
                    padding: 1rem;
                    background-color: #fff;
                    margin-bottom: 1rem;

                    &.drag {
                        background-color: #9ea5f8
                    }

                    .task-item {
                        .content {
                            .title {
                                margin-top: 0;
                                font-size: 15px;
                            }

                            .desc {
                                display: -webkit-box;
                                height: 72px;
                                overflow: hidden;
                                white-space: wrap;
                                -webkit-line-clamp: 4;
                                -webkit-box-orient: vertical;
                                text-overflow: ellipsis;
                                margin-bottom: 10px;
                            }

                            .fullname {
                                background-color: #0013FE;
                                display: inline-block;
                                border-radius: 5px;
                                color: white;
                                padding: 4px 12px;
                            }
                        }

                        .task-footer {
                            @include flex(row, center, center, space-between);

                            .time {
                                @include flex(row, center, center, space-between);

                                svg {
                                    width: 20px;
                                    height: 20px;
                                }

                                span {
                                    font-size: 15px;
                                    font-weight: 700;
                                    margin-left: .4rem;
                                }
                            }

                            .member-image {
                                img {
                                    width: 34px;
                                    height: 34px;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .deleteTask {
        right: 8px;
        margin-left: -20px;
        top: 8px;
        border: none;
        background-color: red;
        border-radius: 10px;
        padding: 5px 15px;
        color: white;

    }

    .fullname {
        margin-bottom: 10px;
    }
}